<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" name="fileTarget" filename="C:\Logs\transactionmonitoringapi\${level}\${shortdate}\${date:format=hh tt}.log"
    layout="  -------------- ${level} (${longdate}) --------------${newline}
            ${newline}
            Call Site: ${callsite}${newline}
            Exception Type: ${exception:format=Type}${newline}
            Exception Message: ${exception:format=Message}${newline}
            Stack Trace: ${exception:format=StackTrace}${newline}
            Additional Info: ${message}${newline}" archiveEvery="Hour" archiveDateFormat="yyyyMMdd-HH"  />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
  </rules>
</nlog>